# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse / NetBeans
.classpath
.project
.settings/
nbproject/

# OS
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp